<div class="mat-elevation-z8  customerTable">

  <div layout="row" class="filterInputClass" layout-align="center center">
    <button mat-raised-button (click)='createTaxDetail()' color='primary' name="button">Create</button>
  <mat-form-field class="filterInputClass">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
  <table mat-table class="full-width-table" matSort aria-label="Elements">


    <!-- Phone Number Column -->
    <ng-container matColumnDef="hsnCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>HSN/SAC</th>
      <td mat-cell *matCellDef="let row">{{row.hsnCode}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="cgst">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CGST Rate</th>
      <td mat-cell *matCellDef="let row">{{row.cgst}}</td>
    </ng-container>



    <!-- Father Name Column -->
    <ng-container matColumnDef="sgst">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>SGST Rate</th>
      <td mat-cell *matCellDef="let row">{{row.sgst}}</td>
    </ng-container>


    <ng-container matColumnDef="update">

      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row">

          <button mat-button color="accent" (click) = 'updateTaxDetail(row)' name="button">
              <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
          </button>
          <button  mat-button color="warn" (click)='deleteTaxDetail(row)' name="button">
              <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
          </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="25"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
