

<div>
  <!-- Heading -->
  <h1 data-type="header" class="display-4 text-center mb-3">Customer Details
  </h1>
  <!-- Subheading -->
  <!-- Form -->
  <form data-type="default" #f= 'ngForm' (submit)= 'f.form.valid && submit()' name="create-farmer-form" accept-charset="UTF-8" role="form">

  <!-- Email address -->
	<div data-type="default" class="form-group">
	  <!-- Label -->
	  <label>Name<br data-type="default"></label>
	  <!-- Input -->
	  <input name= "name" data-type="default" type="text" required placeholder="Enter customer name" class="form-control" required
   #name= 'ngModel' [ngClass] = "{'is-invalid': f.submitted && name.invalid}" [(ngModel)]= 'customer.name'>
	</div>
	<!-- Password -->
	<div data-type="default" class="form-group">
		  <label>Father Name</label>
      <input type="text" name="fatherName" value="" class="form-control" placeholder="Enter father's name" [(ngModel)]= 'customer.fatherName'>
	</div>
  <div data-type="default" class="form-group">
		  <label>Phone Number</label>
      <input type="phoneNumber" name="phoneNumber" required value="" class="form-control" placeholder="Enter phone number" required
     #phoneNumber= 'ngModel' [ngClass] = "{'is-invalid': f.submitted && phoneNumber.invalid}" [(ngModel)]='customer.phoneNumber'>
	</div>
  <div data-type="default" class="form-group">

		  <label>Address</label>
      <select class="form-control" name="address" [(ngModel)] = 'customer.addressId'>
      <option *ngFor="let address of addresses" [value]="address._id">{{address.name}}, {{address.stateName}}</option>
      </select>
	</div>
  <div data-type="default" class="form-group">
		  <label>Land Holding</label>
      <input type="number" name="landHolding" value="" class="form-control" placeholder="Enter land amount" [(ngModel)] = 'customer.landHolding'>
	</div>

	<!-- Submit -->
	<button class="btn btn-lg btn-block btn-primary mb-3" type="submit" name="button"> Save </button>


  </form>
</div>
