<mat-sidenav-container  [hasBackdrop]='false' autosize role="navigation">
  <mat-sidenav [fixedInViewport]="true" [fixedTopGap]='50' #drawer opened='true' class="sidenavBar" disableClose="true" mode="push">
    <mat-nav-list>
      <ng-container *ngFor='let item of items'>
        <div class="navLink">
          <a id="navLink" routerLink='{{item.link}}'><mat-icon aria-hidden="false" aria-label = 'title'>{{item.icon}}</mat-icon> <span>{{item.title}}</span></a><br>
        </div>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenavBarContent">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
