.sidenavBar{
  background-color: #2E4053;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  height: 100%;
  	width: 15%;

}

.navLink:hover{
    background-color: #1C2833;
}

.navLink {
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
}

.sidenavBarContent{
	width: 85%;
	height: 100%;
}

a{
  padding: 5px 5px;
align-items: stretch;
}

span{
  position: absolute;
    margin-top: 5px;
}
