<div class="mat-elevation-z8  customerTable">

  <div layout="row" class="filterInputClass" layout-align="center center">
    <button mat-raised-button (click)="onCreate()" color='primary' name="button">Create</button>
  <mat-form-field class="filterInputClass">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
  <table mat-table class="full-width-table" matSort aria-label="Elements" [(dataSource)] = 'dataSource'>


    <!-- Phone Number Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="parent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Parent</th>
      <td mat-cell *matCellDef="let row">{{row.parent}}</td>
    </ng-container>



    <!-- Father Name Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
      <td mat-cell *matCellDef="let row">{{row.category}}</td>
    </ng-container>

    <!-- Land Holding Column -->
    <ng-container matColumnDef="closingBalance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Closing Balance</th>
      <td mat-cell *matCellDef="let row">{{row.closingBalance +" "+ row.baseUnits}}</td>
    </ng-container>

        <!-- Land Holding Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
          <td mat-cell *matCellDef="let row">{{row.price}}</td>
        </ng-container>

    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row">
          <button  mat-button color="primary" name="button">
            <mat-icon aria-hidden="false" aria-label="Example home icon">remove_red_eye</mat-icon>
          </button>
          <button mat-button color="accent" name="button" (click) = "updateStockItem(row)">
              <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
          </button>
          <button  mat-button color="warn" name="button">
              <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
          </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="25"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
