.full-width-table {
  width: 100%;

}
.filterInputClass{
  width: 50%;
  margin: 10px 20px;
  align-content: center;

}

.customerTable{
  width: 70%;
  margin: 20px auto;
  padding: 10px;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 8px 8px 8px 0;
}
