<form data-type="default" #f= 'ngForm' (submit)= 'f.form.valid && submit()' name="create-address-form" accept-charset="UTF-8" role="form">

    <mat-card class="userForm">
      <mat-card-header class="header">
        Address Details
      </mat-card-header>
      <mat-card-content>
    <mat-form-field class="input">
      <input matInput type="text" name="Name" [(ngModel)]= 'address.name' required placeholder="Enter Name">
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput name = 'tehsilName'  [(ngModel)] = 'address.tehsilName' placeholder="Enter Tehsil Name">
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput type="text" name="districtName" [(ngModel)]= 'address.districtName' required placeholder="Enter District Name">
    </mat-form-field>

    <mat-form-field class="input">
      <mat-select placeholder="Select a user role" name = "role" [(ngModel)]='address.stateName'>
        <mat-option *ngFor = 'let name of placeOfSupplies' [value] = 'name'>{{name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput type="text" name="noOfGovernmentLandRecords" [(ngModel)]= 'address.noOfGovernmentLandRecords' placeholder="Enter Number of Government Land Records">
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput type="text" name="areaOfGovenmentLand" [(ngModel)]= 'address.areaOfGovenmentLand' placeholder="Enter Area of Government Land Records">
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput type="text" name="noOfPrivateLandRecords" [(ngModel)]= 'address.noOfPrivateLandRecords' placeholder="Enter Number Private of Land Records">
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput type="text" name="areaOfPrivateLand" [(ngModel)]= 'address.areaOfPrivateLand' placeholder="Enter Area of Private Land Records">
    </mat-form-field>
    <ng-container>
      <button class="btn btn-lg btn-block btn-primary mb-3" type="submit" name="button"> Save </button>
    </ng-container>
    </mat-card-content>
    </mat-card>

</form>
