<div class="mat-elevation-z8  customerTable">

  <div layout="row" class="filterInputClass" layout-align="center center">
    <mat-label>List of Batches expiring before :</mat-label>
<mat-select [(ngModel)]="selectedValue" (selectionChange)="getBatches($event.value)">
  <mat-option *ngFor="let period of periods" [(value)]="period.value">
    {{period.name}}
  </mat-option>
</mat-select>

</div>
  <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]= "dataSource">


    <!-- Name Column -->
    <ng-container matColumnDef="batchName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Batch Name</th>
      <td mat-cell *matCellDef="let row">{{row._id.batchName}}</td>
    </ng-container>


    <!-- Phone Number Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</th>
      <td mat-cell *matCellDef="let row">{{row._id.name}}</td>
    </ng-container>

    <!-- Land Holding Column -->
    <ng-container matColumnDef="expiryDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Expiry Date</th>
      <td mat-cell *matCellDef="let row">{{row._id.expiryDate | date: "dd-MMM-yyyy"}}</td>
    </ng-container>

    <!-- Land Holding Column -->
    <ng-container matColumnDef="closingBalance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Closing Balance</th>
      <td mat-cell *matCellDef="let row">{{row.closingBalance}}</td>
    </ng-container>


    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row">
          <button  mat-button color="primary" name="button">
            <mat-icon aria-hidden="false" aria-label="Example home icon">remove_red_eye</mat-icon>
          </button>
          <button mat-button color="accent" name="button">
              <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
          </button>
          <button  mat-button color="warn" name="button">
              <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
          </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="25"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
