<form data-type="default" #f= 'ngForm' (submit)= 'f.form.valid && submit()' name="create-stockitem-form" accept-charset="UTF-8" role="form">

    <mat-card class="userForm">
      <mat-card-header class="header">
        Stock Item
      </mat-card-header>
      <mat-card-content>
    <mat-form-field class="input">
      <input matInput type="text" name="Name" [(ngModel)]= 'item.name' required placeholder="Enter Name">
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput name = 'hsnCode'  [(ngModel)] = 'item.hsnCode' placeholder="Enter HSN/SAC" type="text">
    </mat-form-field>

    <mat-form-field class="input">
      <mat-select name = 'ledger' placeholder='Select a Ledger' [(ngModel)] = "item.ledger">
        <mat-option *ngFor = "let ledger of ledgers" [value]='ledger'>{{ledger}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input">
      <mat-select name = 'gstOvrDNNature' placeholder='Select an option' [(ngModel)] = "item.gstovrdnnature">
        <mat-option value = "Sales Taxable">Sales Taxable</mat-option>
        <mat-option value = "Sales Nil Rated">Sales Nil Rated</mat-option>
        <mat-option value = "Sales Exempt">Sales Exempt</mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container>
      <tr>
        <td>
          <mat-form-field class="input">
            <mat-select name = 'godownName' placeholder='Select a Godown' [(ngModel)] = "priceListItem.godownName">
              <mat-option *ngFor = "let name of godowns" [value]='name'>{{name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input matInput type="number" name="price" [(ngModel)]= 'priceListItem.price' required placeholder="Enter price">
          </mat-form-field>
        </td>
        <td>
          <button  mat-raised-button color="accent" type="button" name="addPriceListItem" (click) = "addPriceListItem()">Add</button>
        </td>
      </tr>
    </ng-container>
    <ng-container>
      <table mat-table class="full-width-table" matSort aria-label="Elements" [(dataSource)]= "dataSource">


        <!-- Name Column -->
        <ng-container matColumnDef="godownName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Godown Name</th>
          <td mat-cell *matCellDef="let row">{{row.godownName}}</td>
        </ng-container>


        <!-- Phone Number Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
          <td mat-cell *matCellDef="let row">{{row.price}}</td>
        </ng-container>

        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let row">
              <button  mat-button color="warn" name="button">
                  <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
              </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </ng-container>

    <ng-container>
      <button class="btn btn-lg btn-block btn-primary mb-3" type="submit" name="button"> Save </button>
    </ng-container>
    </mat-card-content>
    </mat-card>

</form>
