<div class="userForm">
  <h1 align = "center">User Details</h1>
  <form data-type="default" #f= 'ngForm' (submit)= 'f.form.valid && submit()' name="create-user-form" accept-charset="UTF-8" role="form">
    <div class="basicUserDetails">
      <mat-card class="userForm">
        <mat-card-header class="header">
          Basic details
        </mat-card-header>
        <mat-card-content>
      <mat-form-field class="input">
        <input matInput type="text" name="userName" [(ngModel)]= 'user._id' required placeholder="Enter username">
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput name = 'password'  [(ngModel)] = 'user.password' placeholder="Enter password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput type="text" name="name" [(ngModel)]= 'user.name' required placeholder="Enter name">
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput type="text" name="contactNumber" [(ngModel)]= 'user.contactNumber' required placeholder="Enter contactNumber">
      </mat-form-field>
      <mat-form-field class="input">
        <mat-select placeholder="Select a user role" name = "role" [(ngModel)]='user.role'>
          <mat-option value = "Company User">Company User</mat-option>
          <mat-option value = "Field User">Field User</mat-option>
          <mat-option value = "Admin User">Admin User</mat-option>
        </mat-select>
      </mat-form-field>
      </mat-card-content>
      </mat-card>
      </div>

      <ng-container *ngIf = "user.role == 'Company User'">
      <div class="additionalUserDetails">
      <mat-card class="userForm">
        <mat-card-header class="header">
          Company User Additional Details
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="input">
            <input matInput type="text" name="talluUserName" [(ngModel)]= 'user.talluUserName' placeholder="Enter Tally username" required>
          </mat-form-field>
          <mat-form-field class="input">
            <input matInput type="text" name="POSClassName" [(ngModel)]= 'user.posClass' placeholder="Enter POS Class">
          </mat-form-field>
          <mat-form-field class="input">
            <mat-select placeholder = "Choose Godown" name = 'godownName' [(ngModel)] = 'user.godownName' required>
              <mat-option *ngFor = 'let name of godownNames' [value] = 'name'>{{name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="input">
            <mat-select placeholder = "Choose Cash Ledger Name" name = 'cashLedgerName' [(ngModel)] = 'user.cashLedgerName' required>
              <mat-option *ngFor = 'let name of cashLedgers' [value] = 'name'>{{name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="input">
            <mat-select placeholder = "Choose POS Cash Ledger Name" name='posCashLedgerName' [(ngModel)] = 'user.posCashLedgerName' required>
              <mat-option *ngFor = 'let name of posCashLedgers' [value] = 'name'>{{name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="input">
            <mat-select placeholder = "Choose Basic Base Party Name" name='basicBasePartyName' [(ngModel)] = 'user.basicBasePartyName' required>
              <mat-option *ngFor = 'let name of basicBasePartyNames' [value] = 'name'>{{name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="input">
            <mat-select placeholder = "Choose Place of Supply" name = 'placeOfSupply' [(ngModel)] = 'user.placeOfSupply' required>
              <mat-option *ngFor = 'let name of placeOfSupplies' [value] = 'name'>{{name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="input">
            <mat-select placeholder = "Choose Voucher Type Name" name = 'voucherTypeName' [(ngModel)] = 'user.voucherTypeName' required>
              <mat-option *ngFor = 'let name of voucherTypeNames' [value] = 'name'>{{name}}</mat-option>
            </mat-select>
          </mat-form-field>

            <input name = "fileInput"  style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
            <button mat-raised-button (click) = "fileInput.click()" type= 'button' name="button">Select File</button>
            <img [src]="url" height="200"> <br/>
        </mat-card-content>
      </mat-card>
    </div>
    </ng-container>
    <ng-container>
      <button class="btn btn-lg btn-block btn-primary mb-3" type="submit" name="button"> Save </button>
    </ng-container>



  </form>

</div>
