<div class="invoice" (document:keydown.meta.k)="doSomething()">
  <form id="voucherForm">
    <div class="invoiceInformation invoice">
      <mat-card>
        <mat-card-content>
          <button  mat-button color="warn" name="button" (click)= "sync()" class="invoice">
              <mat-icon aria-hidden="false" aria-label="Example home icon">sync</mat-icon>
          </button>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(formControl)] = "date" class="full-width">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


        <label for="Voucher Number" class="headline voucherNumber">{{tallyVoucher.customVoucherDetails.voucherNumber}}</label>



      </mat-card-content>
      </mat-card>
    </div>


      <div class="customerInformation invoice">
      <mat-card>
        <mat-card-header>
        <mat-form-field class="full-width">

          <input type="text" #customerField (keyup.enter)= "validateCustomer()" placeholder="Enter customer id" aria-label="Assignee" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let customer of filteredOptions | async" [value]="customer">
              {{customer.phoneNumber +" : "+ customer.name}}
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>
        </mat-card-header>
        <mat-card-content>

              <tr>
                <td>Name: </td>
                <td><label for="" *ngIf = "this.myControl.value">{{this.myControl.value.name}}</label></td>
              </tr>
              <tr>
                <td>Father Name: </td>
                <td><label for="" *ngIf = "this.myControl.value">{{this.myControl.value.fatherName}}</label></td>
              </tr>
              <tr>
                <td>Address: </td>
                <td><label for="" *ngIf = "this.myControl.value">{{this.myControl.value.fullAddress.name}}</label></td>
              </tr>
              <tr>
                <td>Total Land: </td>
                <td><label for="" *ngIf = "this.myControl.value">{{this.myControl.value.landHolding}}</label></td>
              </tr>

        </mat-card-content>
        <table mat-table #customerHistoryTable class="full-width-table" matSort aria-label="CustomerHistory" [(dataSource)] = "customerHistoryDataSource">



          <!-- Product Name Column -->
          <ng-container matColumnDef="itemName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>
            <td mat-cell *matCellDef="let row">{{row._id.name}}</td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            <td mat-cell *matCellDef="let row">{{row.date  | date: "dd-MMM-yyyy"}}</td>
          </ng-container>

          <!-- Quantity Column -->
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Qty</th>
            <td mat-cell *matCellDef="let row">{{row.quantity}}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="customerHistoryDisplayedColumn"></tr>
          <tr mat-row *matRowDef="let row; columns: customerHistoryDisplayedColumn;"></tr>
        </table>

      </mat-card>
    </div>

    <div class="customerInformation invoice">
    <mat-card class="invoice">
      <mat-card-header>
      Voucher Details
      </mat-card-header>
      <mat-card-content>

            <tr>
              <td>Cash Ledger</td>
              <td><label for="" *ngIf = "this.myControl.value">{{this.tallyVoucher.basicVoucherDetails.posCashLedgerName}}</label></td>
            </tr>
            <tr>
              <td>Godown Name</td>
              <td><label for="" *ngIf = "this.myControl.value">{{this.cookie.get('tallyVoucher.basicVoucherDetails.godownName')}}</label></td>
            </tr>
            <tr>
              <td>Cache Voucher: </td>
              <td><label for="" *ngIf = "this.myControl.value">{{this.myControl.value.address}}</label></td>
            </tr>
            <tr>
              <td>Total Land: </td>
              <td><label for="" *ngIf = "this.myControl.value">{{this.myControl.value.landHolding}}</label></td>
            </tr>
            <tr>
              <td>

              </td>
            </tr>

      </mat-card-content>
    </mat-card>

      <mat-card class="invoice">
        <col width="130">
        <col width="70">

      <tr class="totalLabel">
        <td>Sub Total:</td>
        <td>{{tallyVoucher.ledgerEntry.subTotal}}</td>

      </tr>
      <tr>
        <td>CGST</td>
        <td>{{tallyVoucher.ledgerEntry.cgst}}</td>

      </tr>
      <tr>
        <td>SGST</td>
        <td>{{tallyVoucher.ledgerEntry.sgst}}</td>
      </tr>
      <tr>
        <td><b>Total</b></td>
        <td><b>{{tallyVoucher.ledgerEntry.cash}}</b></td>
      </tr>
      </mat-card>


  </div>




  <div class="inventoryInformation invoice">
    <div class="addInventory">

      <tr>
        <td>
          <mat-form-field>
            <input #productField (keydown.enter) = "validateProduct();false" type="text" placeholder="Enter product name" aria-label="Assignee" matInput [formControl]="invControl" [matAutocomplete]="autoInv">
            <mat-autocomplete  #autoInv="matAutocomplete" [displayWith]="displayFnProduct">
              <mat-option *ngFor="let product of productFilteredOptions | async" [(value)]="product">
                {{product.name}}
              </mat-option>
            </mat-autocomplete>

          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input #quantityField (keydown.enter) = "validateQuantity();false" type="number" placeholder="Enter qty" aria-label="Quantity" matInput [formControl]="qtyControl">

          </mat-form-field>
        </td>
      </tr>
      <select #batchField *ngIf = "qtyControl.value" (keydown.enter)="addStockItem();false" [(ngModel)]="batch"  name = "batchSelect">
        <option *ngFor="let item of batches" [(ngValue)]="item" >
          {{item.name}} {{item.expiryDate  | date: "dd-MMM-yyyy"}}
        </option>
      </select>
    </div>

    <table mat-table class="full-width-table" matSort aria-label="Elements" [(dataSource)] = "dataSource">


      <!-- Phone Number Column -->
      <ng-container matColumnDef="Sno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>S.no</th>
        <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="itemName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Product</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>



      <!-- Father Name Column -->
      <ng-container matColumnDef="batchName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Batch</th>
        <td mat-cell *matCellDef="let row">{{row.batch.name}}</td>
      </ng-container>

      <!-- Land Holding Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Qty</th>
        <td mat-cell *matCellDef="let row">{{row.quantity}}</td>
      </ng-container>

          <!-- Land Holding Column -->
          <ng-container matColumnDef="rate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Rate</th>
            <td mat-cell *matCellDef="let row">{{row.rate}}</td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
            <td mat-cell *matCellDef="let row">{{row.quantity * row.rate}}</td>
          </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let row">
            <button  mat-button color="warn" name="button" (click)= "deleteItem(row)">
                <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
            </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>


  </form>

</div>
<div id="printView" class="printView">
<app-invoice-print-view #printView [(tallyVoucher)] = "tallyVoucher" [(customer)]= "myControl.value"></app-invoice-print-view>
</div>
