.headline{
  font-size: 28px;
  font-style: italic;
}
.invoice{
  margin: 5px;
}

.full-width{
  width: 100%;
}

.rightPart{
  width: 65%;
  float:right;
}
.rightTop{
  width: 65%;
  float:top;
}

.invoiceTotalDetails{
  width: 100%;
  float:right;
}

.customerInformation{
  width: 25%;
  float:left;
  height: 70%;
}

.voucherNumber{
  width: 40%;
  float:right;
}

.date{
  width: 40%;
  float:left;
}
.invoiceInformation{
  width: 100%;
  float:none;
}
.inventoryInformation{
  width: 47%;
  float:right;
}



.totalLabel{
  width: 50%;
}
.customerTitle{
  width: 30%;
}
.customerValue{
  width: 70%;
}

.full-width-table {
  width: 100%;

}
.filterInputClass{
  width: 50%;
  margin: 10px 20px;
  align-content: center;

}

.customerTable{
  width: 70%;
  margin: 20px auto;
  padding: 10px;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 8px 8px 8px 0;
}

.printView{
  display: none;
  visibility: hidden;
}
