/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~material-design-icons/iconfont/material-icons.css';

#imiq7 {
	font-family: Comic Sans MS, cursive, sans-serif;
	color: #ffffff;
	font-size: 24px;
}

.htmlPage{
	padding-top: 50px;
}

.form-control {
	display: inline-block;
	top: 0;
	text-shadow: 0 0 0 black;
	float: none;
	position: static;
}

.card-body {
	width: 70%;
	margin: 0 15% 0 15%;
}

.c10359 {
	fill: #fff;
}

.c10520 {
	fill: #fff;
}

.c10679 {
	fill: #fff;
}

.c10838 {
	fill: #fff;
}

.c15243 {
	fill: #fff;
}

.c15401 {
	fill: #fff;
}

.c15559 {
	fill: #fff;
}

.c15717 {
	fill: #fff;
}

.c16311 {
	width: 30%;
}

.c16568 {
	width: 50%;
}

.c16810 {
	width: 80%;
}

.c16850 {
	position: absolute;
	transform: translate3d(-147px, 27px, 0px);
	top: 0px;
	left: 0px;
	will-change: transform;
}

.c17059 {
	width: 90%;
}

.c20202 {
	box-sizing: border-box;
	margin-top: 0px;
	margin-bottom: 0.75rem;
	font-weight: 500;
	line-height: 1.2;
	font-size: 2rem;
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
}

.c20240 {
	box-sizing: border-box;
	margin-top: 0px;
	margin-bottom: 1rem;
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
}

.c20190 {
	box-sizing: border-box;
	position: relative;
	width: 134.438px;
	padding-right: 15px;
	padding-left: 15px;
	flex-basis: 0px;
	flex-grow: 1;
	max-width: 100%;
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
}

.c20178 {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
}

.c20290 {
	box-sizing: border-box;
	color: rgb(52, 58, 64) !important;
	text-decoration: none;
	background-color: transparent;
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
}

.c20166 {
	box-sizing: border-box;
	flex: 1 1 auto;
	padding: 1.25rem;
	background-color: rgb(40, 167, 69) !important;
	color: rgb(255, 255, 255) !important;
	width: 144.438px;
	margin: 30.9479px;
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
}

.c20278 {
	box-sizing: border-box;
	padding: 0.75rem 1.25rem;
	background-color: rgba(0, 0, 0, 0.03);
	border-top: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0px 0px calc(0.25rem - 1px) calc(0.25rem - 1px);
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
}

.c20154 {
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0px;
	overflow-wrap: break-word;
	background-color: rgb(255, 255, 255);
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
}

.c20425 {
	box-sizing: border-box;
	margin-top: 0px;
	margin-bottom: 0.75rem;
	font-weight: 500;
	line-height: 1.2;
	font-size: 2rem;
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
}

.c20440 {
	box-sizing: border-box;
	margin-top: 0px;
	margin-bottom: 1rem;
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
}

.c20382 {
	box-sizing: border-box;
	position: relative;
	width: 134.438px;
	padding-right: 15px;
	padding-left: 15px;
	flex-basis: 0px;
	flex-grow: 1;
	max-width: 100%;
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
}

.c20413 {
	box-sizing: border-box;
	position: relative;
	width: 134.438px;
	padding-right: 15px;
	padding-left: 15px;
	flex-basis: 0px;
	flex-grow: 1;
	max-width: 100%;
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
}

.c20370 {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
}

.c20496 {
	box-sizing: border-box;
	color: rgb(52, 58, 64) !important;
	text-decoration: none;
	background-color: transparent;
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
}

.c20358 {
	box-sizing: border-box;
	flex: 1 1 auto;
	padding: 1.25rem;
	background-color: rgb(52, 58, 64) !important;
	color: rgb(255, 255, 255) !important;
	width: 144.438px;
	margin: 30.9479px;
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
}

.c20484 {
	box-sizing: border-box;
	padding: 0.75rem 1.25rem;
	background-color: rgba(0, 0, 0, 0.03);
	border-top: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0px 0px calc(0.25rem - 1px) calc(0.25rem - 1px);
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
}

.c20346 {
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0px;
	overflow-wrap: break-word;
	background-color: rgb(255, 255, 255);
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
}

.c20631 {
	box-sizing: border-box;
	margin-top: 0px;
	margin-bottom: 0.75rem;
	font-weight: 500;
	line-height: 1.2;
	font-size: 2rem;
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
}

.c20646 {
	box-sizing: border-box;
	margin-top: 0px;
	margin-bottom: 1rem;
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
}

.c20588 {
	box-sizing: border-box;
	position: relative;
	width: 134.438px;
	padding-right: 15px;
	padding-left: 15px;
	flex-basis: 0px;
	flex-grow: 1;
	max-width: 100%;
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
}

.c20619 {
	box-sizing: border-box;
	position: relative;
	width: 134.438px;
	padding-right: 15px;
	padding-left: 15px;
	flex-basis: 0px;
	flex-grow: 1;
	max-width: 100%;
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
}

.c20576 {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
}

.c20564 {
	box-sizing: border-box;
	flex: 1 1 auto;
	padding: 1.25rem;
	background-color: rgb(220, 53, 69) !important;
	color: rgb(255, 255, 255) !important;
	width: 144.438px;
	margin: 30.9479px;
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 16px;
	font-style: normal;
	font-variant-ligatures: normal;
	font-variant-caps: normal;
	font-weight: 400;
	letter-spacing: normal;
	orphans: 2;
	text-align: left;
	text-indent: 0px;
	text-transform: none;
	white-space: normal;
	widows: 2;
	word-spacing: 0px;
	-webkit-text-stroke-width: 0px;
	text-decoration-style: initial;
	text-decoration-color: initial;
}

.c20552 {
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0px;
	overflow-wrap: break-word;
	background-color: rgb(255, 255, 255);
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
}

.c20142 {
	box-sizing: border-box;
	position: relative;
	width: 238.344px;
	padding-right: 15px;
	padding-left: 15px;
	flex-basis: 0px;
	flex-grow: 1;
	max-width: 100%;
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
}

.c20334 {
	box-sizing: border-box;
	position: relative;
	width: 238.344px;
	padding-right: 15px;
	padding-left: 15px;
	flex-basis: 0px;
	flex-grow: 1;
	max-width: 100%;
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
}

.c20540 {
	box-sizing: border-box;
	position: relative;
	width: 238.344px;
	padding-right: 15px;
	padding-left: 15px;
	flex-basis: 0px;
	flex-grow: 1;
	max-width: 100%;
	outline: rgba(170, 170, 170, 0.7) dashed 1px;
	outline-offset: -2px;
}

.btn.btn-primary.mb-2 {
	width: 100%;
}

.avatar-50 img {
	width: 50px;
	height: auto;
}

.avatar-30 img {
	width: 30px;
	height: auto;
}

.c30974 {
	overflow: hidden;
	overflow-wrap: break-word;
	height: 40px;
}

.profile-info {
	width: 300px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.main {
	height: 100vh;
}

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	undefined: undefined;
	padding: 48px 0 0;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 48px);
	padding-top: .5rem;
	overflow-x: hidden;
	overflow-y: auto;
	undefined: undefined;
}

.sidebar .nav-link {
	font-weight: 500;
	color: #333;
}

.sidebar .nav-link .feather {
	margin-right: 4px;
	color: #999;
}

.sidebar .nav-link.active {
	color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
	color: inherit;
}

.sidebar-heading {
	font-size: .75rem;
	text-transform: uppercase;
}

[role="main"] {
	padding-top: 133px;
	undefined: undefined;
}

.navbar-brand {
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: 1rem;
	background-color: rgba(0, 0, 0, .25);
	box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
	padding: .75rem 1rem;
	border-width: 0;
	border-radius: 0;
}

.form-control-dark {
	color: #fff;
	background-color: rgba(255, 255, 255, .1);
	border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
	border-color: transparent;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.main-container {
	height: 100vh;
}

.c56348 {
	opacity: .8;
}

.c57288 {
	display: inline-block;
	padding: 5px;
	min-height: 50px;
	min-width: 50px;
}

.c66674 {
	color: black;
	width: 52px;
	height: 52px;
}

.c66737 {
	color: black;
}

.header-img-top {
	width: 100%;
}

.avatar {
	margin-top: -90px;
}

.avatar-xxl img {
	width: 200px !important;
	height: auto;
}

.c4893 {
	fill: #fff;
}

.c5054 {
	fill: #fff;
}

.c5212 {
	fill: #fff;
}

.c5371 {
	fill: #fff;
}

.c5997 {
	fill: #fff;
}

.c6155 {
	fill: #fff;
}

.c6313 {
	fill: #fff;
}

.c6471 {
	fill: #fff;
}

.c8062 {
	width: 30%;
}

.c8316 {
	width: 50%;
}

.c8558 {
	width: 80%;
}

.c8598 {
	position: absolute;
	transform: translate3d(-147px, 27px, 0px);
	top: 0px;
	left: 0px;
	will-change: transform;
}

.c8807 {
	width: 90%;
}

.progress-xs {
	height: 3px;
}

.c17430 {
	width: 60%;
}

.c17570 {
	width: 80%;
}

.c17710 {
	width: 72%;
}

.c17850 {
	width: 90%;
}

.footer-1 address {
	font-size: 21px;
}

.footer-1 ul li {
	padding-bottom: 2px;
}

.c10926 {
	color: black;
	width: 32px;
	height: 32px;
}


@media (min-width: 768px) {
	[role="main"] {
		padding-top: 48px;
		undefined: undefined;
	}
}
